%div.modal__container
  %div.modal
    %div.modal__header
      %p ノートが公開されました
      = link_to root_path do
        %i.fas.fa-times
    %div.modal__image
      %img{src: "https://d2l930y2yx77uc.cloudfront.net/assets/achievements_postnote-d82c2102ef8d3c6470dfaae615e4892c0613d7aa5c6772d98fcc2c1c95dd4e4c.png"}
    %div.modal__body
      %p
        公開したノートを
        %br みんなに教えてあげましょう！
      %div.modal__action
        %a.share__button
          %i.fab.fa-twitter.action__icon
          %span ツイートする
        %a.share__button
          %i.fab.fa-facebook-f.action__icon
          %span シェアする
    %div.modal__footer
      = link_to root_path do
        %span 閉じる

%div.new__container
  = form_for @note, id: "new_note" do |f|
    %div.new__header
      = link_to root_path, class: "logo" do
        %img{src: "https://d2l930y2yx77uc.cloudfront.net/assets/logo_retina-9c22c0bbe0a86ce2f343288c049fd7335efbccc3876de4133b14dce0a7990d0d.png"}
      %ul
        %li
          = link_to "キャンセル", root_path
        %li
          = f.submit 'note投稿', class: 'submit'
    %div.new__form
      = f.fields_for :images do |i|
        = i.label :image, class: 'upload-image' do
          %i.fas.fa-image
          = i.file_field :image, class: "hidden"
      = f.text_area :title, class: 'note-title__box', placeholder: 'ノートタイトル', autocomplete: "off"
      = f.text_area :text, class: 'note-text__box' , placeholder: 'ノート本文', autocomplete: "off"
      = f.select :category, Note.categories.keys, {prompt: '選択してください'}, class: 'note-category__box'
