%div a
%div.container
  %div.container__inner
    %div.main__header
      %h1.main__header__title 編集部のおすすめ
    %div.container__body
      %div.container__body__cards
        %div.body__card
          %div.note
            %div.note__image
              = link_to image_tag('/assets/IMG_8725.jpeg')
            %a{:href => ""}
              %h3.note__title 僕の夏休み
              %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。でも興味は日に日
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 16
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_7420.jpeg')
                %a{:href => "", class:"avatar__name" }野比のび太
                %a{:href => "", class:"avatar__date"} 3時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_5267.jpeg')
            %h3.note__title ラスベガスに行ってきた話
            %p.note__text 紅白出場歌手が発表されましたね。今回は初出場が7組だそうです。
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 21
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_8525.jpeg')
                %div.avatar__name 堀川スネ夫
                %div.avatar__date 8時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_5909.jpeg')
            %h3.note__title 金沢で食べたのどぐろ
            %p.note__text 美味しかった
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 9
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_7988.jpeg')
                %div.avatar__name 源しずか
                %div.avatar__date 15時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_6991.jpeg')
            %h3.note__title 1日の終わりに
            %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。でも興味は日に日
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 22
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_6991.jpeg')
                %div.avatar__name 剛田たけし
                %div.avatar__date ２日前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_8725.jpeg')
            %h3.note__title 僕の夏休み
            %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。でも興味は日に日
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 16
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_7420.jpeg')
                %div.avatar__name 野比のび太
                %div.avatar__date 3時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_5267.jpeg')
            %h3.note__title ラスベガスに行ってきた話
            %p.note__text 紅白出場歌手が発表されましたね。今回は初出場が7組だそうです。
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 21
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_8525.jpeg')
                %div.avatar__name 堀川スネ夫
                %div.avatar__date 8時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_5909.jpeg')
            %h3.note__title 金沢で食べたのどぐろ
            %p.note__text 美味しかった
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 9
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_7988.jpeg')
                %div.avatar__name 源しずか
                %div.avatar__date 15時間前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top
        %div.body__card
          %div.note
            %div.note__image.note__image__eyecatch
              = link_to image_tag('/assets/IMG_6991.jpeg')
            %h3.note__title 1日の終わりに
            %p.note__text 日本文化という全体像はとてもじゃないけれど語れないし語るものでもない。でも興味は日に日
            %div.note__items
              %div.note__icon.note__icon--like
                %div.icon__box
                  %i.fa.fa-heart
                %div.icon__count 22
              %div.note__icon.note__icon--comment
                %div.icon__box
                  %i.fa.fa-comment
                %div.icon__count 0
            %div.note__foot
              %div.note__foot__avatar
                %div.avatar__icon
                  %div.avatar__icon__image
                    = link_to image_tag('/assets/IMG_6991.jpeg')
                %div.avatar__name 剛田たけし
                %div.avatar__date ２日前
              %div.note__foot__like
                %div.icon__box
                  %i.fa.fa-heart.fa-heart--top

      %div.container__body__sidebar
        %div.magazines__list
          %div.magazine__box
            %div.magazine__box__upper
              %a{:href => ""}
                %div.magazine__cover
                  %div.magazine__title
                    %p note編集部のお気に入り記事
                  %img{"ng-src" => "", :src => "https://poc-note.imgix.net/production/uploads/images/6527876/magazine_cover_landscape_sp_f30657dd15dfe47903997f2ef5b724e8.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
                %div.magazine__description
                  %p 様々なジャンルでnote編集部がお気に入りの記事をまとめています
              %div.magazine__follower
                %p 834フォロワー
              %div.magazine__box__footer
                %div.magazine__avatars
                  %ul
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_8525.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7988.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_6991.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li.magazine__avatars__count +20
                %div.magazine__button
                  %a{:href => "", class:"magazine__button__follow"} フォロー



          %div.magazine__box
            %div.magazine__box__upper
              %div.magazine__cover
                %div.magazine__title
                  %p ＃スポーツ 記事まとめ
                %img{"ng-src" => "https://poc-note.imgix.net/production/uploads/images/7633695/magazine_cover_landscape_sp_23590e937d4b7ebf884f1db23d39a164.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format", :src => "https://poc-note.imgix.net/production/uploads/images/7633695/magazine_cover_landscape_sp_23590e937d4b7ebf884f1db23d39a164.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}/
              %div.magazine__description
                %p noteに公開されているスポーツ系の記事をこのマガジンで紹介
              %div.magazine__follower
                %p 834フォロワー
              %div.magazine__box__footer
                %div.magazine__avatars
                  %ul
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_8525.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7988.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_6991.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li.magazine__avatars__count +20
                %div.magazine__button
                  %a.magazine__button__follow フォロー
          %div.magazine__box
            %div.magazine__box__upper
              %div.magazine__cover
                %div.magazine__title
                  %p ＃マンガ 記事まとめ
                %img{"ng-src" => "https://poc-note.imgix.net/production/uploads/images/5827383/magazine_cover_landscape_sp_66f79c62a6251cc48f5017f4a00317af.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format", :src => "https://poc-note.imgix.net/production/uploads/images/5827383/magazine_cover_landscape_sp_66f79c62a6251cc48f5017f4a00317af.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
              %div.magazine__description
                %p 面白いマンガをまとめています
              %div.magazine__follower
                %p 834フォロワー
              %div.magazine__box__footer
                %div.magazine__avatars
                  %ul
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_8525.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7988.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_6991.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li.magazine__avatars__count +20
                %div.magazine__button
                  %a.magazine__button__follow フォロー
          %div.magazine__box
            %div.magazine__box__upper
              %div.magazine__cover
                %div.magazine__title
                  %p ＃デザイン 記事まとめ
                %img{"ng-src" => "https://poc-note.imgix.net/production/uploads/images/6657642/magazine_cover_landscape_sp_785a0580d64e38741414848e81f6158d.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format", :src => "https://poc-note.imgix.net/production/uploads/images/6657642/magazine_cover_landscape_sp_785a0580d64e38741414848e81f6158d.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
              %div.magazine__description
                %p デザイン系の記事を収集してまとめるマガジン
              %div.magazine__follower
                %p 834フォロワー
              %div.magazine__box__footer
                %div.magazine__avatars
                  %ul
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_8525.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7988.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_6991.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li.magazine__avatars__count +20
                %div.magazine__button
                  %a.magazine__button__follow フォロー
          %div.magazine__box
            %div.magazine__box__upper
              %div.magazine__cover
                %div.magazine__title
                  %p ＃エンジニア系記事まとめ
                %img{"ng-src" => "https://poc-note.imgix.net/production/uploads/images/6033632/magazine_cover_landscape_sp_b51ddba18c2c99cac3b62b5b9c6a5082.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format", :src => "https://poc-note.imgix.net/production/uploads/images/6033632/magazine_cover_landscape_sp_b51ddba18c2c99cac3b62b5b9c6a5082.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
              %div.magazine__description
                %p noteに投稿されているエンジニア系記事まとめ
              %div.magazine__follower
                %p 834フォロワー
              %div.magazine__box__footer
                %div.magazine__avatars
                  %ul
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_8525.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7988.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_6991.jpeg')
                    %li
                      = link_to image_tag('/assets/IMG_7420.jpeg')
                    %li.magazine__avatars__count +20
                %div.magazine__button
                  %a.magazine__button__follow フォロー
          %a{:href => "", class:"magazines__buttton" }すべての公式マガジン
