.under-bar
  .under-bar__inner
    .under-bar__actions
      .under-bar__actions__left
        %ul
          %li
            %i.far.fa-heart
            %span 5
          %li
            = link_to "" do
              %i.far.fa-plus-square
      .under-bar__actions__right
        %ul
          %li
            = link_to "" do
              %i.fab.fa-twitter
          %li
            = link_to "" do
              %i.fab.fa-facebook-f
          %li
            = link_to "" do
              %i.fas.fa-bold
          %li
            = link_to "" do
              %i.fab.fa-line


