.note
  .note__image
    %img{alt: "イメージ", src: "https://www.jalan.net/news/img/2017/09/170915_fuji-670x443.jpg"}
  .note__title
    富士山に行った話
  .note__user
    .note__user__icon
      %img{alt: "自分の", src: "https://www.kirby.jp/images/character/chara-kirby.png"}
    .note__user__name
      = link_to class: "link" do
        自分の名前
    .note__user__date
      2018/11/11 11:11 フォローする
  .note__text
    富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。富士山が綺麗です。
  .note__support
    .note__support__title
      この記事が気に入ったら、サポートをしてみませんか？ 気軽にクリエイターを支援できます。
    .note__support__icon
      %img{alt: "自分のアイコン", src: "https://www.kirby.jp/images/character/chara-kirby.png"}
    .note__support__content
      .note__support__content__text
        サポートしてください！
      .note__support__content__button
        %i.fa.fa-gift サポートをする
  .note__likes
    %i.fa.fa-heart-o
      2
  .note__add
    %i.fa.fa-plus
  .note__report
    %i.fa.fa-ellipsis-h
  .note__bookmark
    %i.fa.fa-bold
  .note__tweet
    %i.fa.fa-twitter-square
  .note__facebook
    %i.fa.fa-facebook-square
  .note__recommends
    %h2.note__recommends__title
      このクリエイターのおすすめノート
    %ul
      %li.note__recommends__component
        .note__recommends__component__title
          = link_to do
            ノートタイトル1
        .note__recommends__component__likes
          %i.fa.fa-heart-o
            78
        .note__recommends__component__name
          = link_to do
            自分の名前
        .note__recommends__component__image
          %img{alt: "イメージ", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE7h3-ZzkwbxN9NHUSQqobG1nzCRAzUGe7I5Nba0gMADjkpMIg4Q"}
      %li.note__recommends__component
        .note__recommends__component__title
          = link_to do
            ノートタイトル2
        .note__recommends__component__likes
          %i.fa.fa-heart-o
            4
        .note__recommends__component__name
          = link_to do
            自分の名前
        .note__recommends__component__image
          %img{alt: "イメージ", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS07XLAwFc9J4l80nJOXncNQwyBcaNCsJvNSGIY7eiHuzR0nrz-hg"}
      %li.note__recommends__component
        .note__recommends__component__title
          = link_to do
            ノートタイトル3
        .note__recommends__component__likes
          %i.fa.fa-heart-o
            1
        .note__recommends__component__name
          = link_to do
            末吉貢
        .note__recommends__component__image
          %img{alt: "イメージ", src: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE7h3-ZzkwbxN9NHUSQqobG1nzCRAzUGe7I5Nba0gMADjkpMIg4Q"}
  .note__index
    .note__index__before
      <
      = link_to do
        前のノート
    .note__index__after
      = link_to do
        次のノート
      >
  .note__profile
    .note__profile__icon
      %img{alt: "自分のアイコン", src: "https://www.kirby.jp/images/character/chara-kirby.png"}
    .note__profile__content
      .note__profile__content__name
        = link_to do
          自分の名前
      .note__profile__content__self-introduction
        よろしくお願いします。
      .note__profile__content__follow
.comments
  .comments__count
    コメント1件
  .comments__comment
    .comments__comment__profile
      .comments__comment__profile__icon
        %img{alt: "イメージ", src: "https://www.kirby.jp/images/character/chara-waddledee.png"}
      .comments__comment__profile__name
        = link_to do
          他のユーザー名
      .comments__comment__profile__date
        2018/11/11 11:11
    .comments__comment__option
      %i.fa.fa-ellipsis-h
    .comments__comment__likes
      %i.fa.fa-heart-o
    .comments__comment__body
      面白いです！
  .comments__form
    .comments__form__icon
      %img{alt: "自分のアイコン", src: "https://www.kirby.jp/images/character/chara-kirby.png"}
    %form.comments__form__content
      %textarea.comments__form__content__text
      %input{type: "submit", class: "comments__form__content__submit"}
.footer
  %ul.footer__list
    %li.footer__list__item
      noteプレミアム
    %li.footer__list__item
      クリエイターの方へ
    %li.footer__list__item
      よくある質問
    %li.footer__list__item
      使い方
    %li.footer__list__item
      ノート
    %li.footer__list__item
      マガジン
    %li.footer__list__item
      ユーザー
    %li.footer__list__item
      ハッシュタグ
    %li.footer__list__item
      プライバシー
    %li.footer__list__item
      ご利用規約
    %li.footer__list__item
      特商法表記
    %li.footer__list__item
      クリエイターへのお問い合わせ
    %li.footer__list__item.only-bold
      noteカイゼン目安箱
    %li.footer__list__item.only-bold
      クリエイターの推薦
