= render "shared/header"
.border-box
.note
  .note__image
    - if @note.images.present?
      - @note.images.each do |image|
        = image_tag image.image
    - else
  .note__title
    = @note.title
  .note__user
    .note__user__icon
      = link_to user_path(@note.user) do
        - if @note.user.main_image.present?
          = image_tag @note.user.main_image
        - else
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
    .note__user__name
      = link_to user_path(@note.user) do
        = @note.user.nickname
    .note__user__date
      = @note.created_at
      フォローする
  .note__text
    = @note.text
  .note__support
    .note__support__title
      この記事が気に入ったら、サポートをしてみませんか？ 気軽にクリエイターを支援できます。
    / .note__support__icon
    /   = link_to user_path(@note.user) do
    /     - if @note.user.main_image.present?
    /       = image_tag @note.user.main_image
    /     - else
    /       = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
    .note__support__content
      / .note__support__content__text
      /   サポートしてください！
      .note__support__content__button
        %i.fas.fa-gift
        サポートをする
  .note__likes
    = render "note-likes-button", note: @note
  .note__add
    %i.fas.fa-plus
  .note__report
    %i.fas.fa-ellipsis-h
  .note__bookmark
    %i.fas.fa-bold
  .note__tweet
    %i.fab.fa-twitter-square
  .note__facebook
    %i.fab.fa-facebook-square
  .note__recommends
    %h2.note__recommends__title
      このクリエイターのおすすめノート
    %ul
      - @ranks.each do |note|
        %li.note__recommends__component
          .note__recommends__component__title
            = link_to note_path(note) do
              = note.title
          .note__recommends__component__likes
            = render "note-likes-button", note: note
          .note__recommends__component__name
            = link_to user_path(note.user) do
              = note.user.nickname
          .note__recommends__component__image
            = link_to note_path(note) do
              - if note.images.present?
                - note.images.each do |image|
                  = image_tag image.image
              - else
  .note__index
    .note__index__before
      <
      = link_to do
        前のノート
    .note__index__after
      = link_to do
        次のノート
      >
  .note__profile
    .note__profile__icon
      = link_to user_path(@note.user) do
        - if @note.user.main_image.present?
          = image_tag @note.user.main_image
        - else
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
    .note__profile__content
      .note__profile__content__name
        = link_to do
          = @note.user.nickname
      .note__profile__content__self-introduction
        よろしくお願いします。
      = render 'relationships/follow-button', user: @note.user

.comments
  .comments__count
    コメント
    件
  .comments__comment
    .comments__comment__profile
      .comments__comment__profile__icon
        %img{alt: "イメージ", src: "https://www.kirby.jp/images/character/chara-waddledee.png"}
      .comments__comment__profile__name
        = link_to do
          他のユーザー名
      .comments__comment__profile__date
        2018/11/11 11:11
    .comments__comment__option
      %i.fa.fa-ellipsis-h
    .comments__comment__likes
      %i.far.fa-heart
    .comments__comment__body
      面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！面白いです！
  .comments__form
    .comments__form__icon
      = link_to user_path(@note.user) do
        - if @note.user.main_image.present?
          = image_tag @note.user.main_image
        - else
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
    %form.comments__form__content
      %textarea.comments__form__content__text{placeholder: "コメントする..."}
      %input{type: "submit", class: "comments__form__content__submit"}

= render 'under-bar'
.footer
  %ul.footer__list
    %li.footer__list__item
      noteプレミアム
    %li.footer__list__item
      クリエイターの方へ
    %li.footer__list__item
      よくある質問
    %li.footer__list__item
      使い方
    %li.footer__list__item
      ノート
    %li.footer__list__item
      マガジン
    %li.footer__list__item
      ユーザー
    %li.footer__list__item
      ハッシュタグ
    %li.footer__list__item
      プライバシー
    %li.footer__list__item
      ご利用規約
    %li.footer__list__item
      特商法表記
    %li.footer__list__item
      クリエイターへのお問い合わせ
    %li.footer__list__item.only-bold
      noteカイゼン目安箱
    %li.footer__list__item.only-bold
      クリエイターの推薦
