=render "shared/header"

%account
  %h1 アカウント設定
  = link_to "アカウント" ""
  = link_to "リアクション" ""
  = link_to "購入履歴"
  = link_to "カード情報" ""
  = link_to "お支払先" ""


%edit-container
  %edit-container__userinfo
    %edit-container__userinfo__nickname
      %p ニックネーム
      = link_to "変更",class: "edit-nickname"
      %p.current-nickname
        =  current_user.nickname
    %edit-container__userinfo__email
      %p メールアドレス
      = link_to "変更",class: "edit-email"
      %p.current-email
        = current_user.email
    %edit-container__userinfo__password
      %p パスワード
      = link_to "変更",class: "edit-password"
      %p *******


  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :ニックネーム
      %br/
      = f.text_field :nickname, autofocus: true, autocomplete: "nickname"

    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :パスワード
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      = f.submit "Update"

  = link_to "Back", :back
