.header-logo
  .header-logo__link
    = link_to root_path do
      =image_tag("note_log_font.jpg", class: "logo-font")
.registration-container
  %h5.registration-container__title noteに登録する
  .registration-container__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :ニックネーム（登録後に変更可能）
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例：ノート君（任意）"
      .field
        = f.label :メールアドレス
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：mail@note.mu"
      .field
        = f.label :パスワード
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "例：6文字以上の半角英数"
      .field
        = f.label :パスワード確認
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      / = recaptcha_tags
      .actions#registration-btn
        = f.submit "登録する（無料）", id: "submit-btn"
  .registration-container__sns
    %h3.registration-container___sns__title ソーシャルアカウントで登録
    .twitter
      = link_to "" do
        %span.fab.fa-twitter
        Twitter
    .facebook
      = link_to  "" do
        %span.fab.fa-facebook-f
        Facebook

  .shared-links
    = render "devise/shared/links"
