= render 'shared/header'
= render 'shared/header-nav'
.attention
  .attention__container
    .attention__container__title
      %h3 注目カテゴリ
    .attention__container__header
      %ul.page-transition
        %li{href: '#manga'}
          =link_to "マンガ" ""
        %li{href: '#column'}
          =link_to "コラム" ""
        %li{href: '#novel'}
          =link_to "小説" ""
        %li{href: '#photo'}
          =link_to "写真" ""
        %li{href: '#sound'}
          =link_to "サウンド" ""
        %li{href: '#business'}
          =link_to "ビジネス" ""
        %li{href: '#lifestyle'}
          =link_to "ライフスタイル" ""
        %li{href: '#technology'}
          =link_to "テクノロジー" ""
        %li{href: '#entertainment'}
          =link_to "エンタメ" ""
    .attention__container__body
      .category#manga
        .category__title
          %h4 マンガ
          =link_to "さらに表示", categories_path(category: 0)
        %ul.category__cards
          - @manga_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#column
        .category__title
          %h4 コラム
          =link_to "さらに表示", categories_path(category: 1)
        %ul.category__cards
          - @column_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#novel
        .category__title
          %h4 小説
          =link_to "さらに表示", categories_path(category: 2)
        %ul.category__cards
          - @novel_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#photo
        .category__title
          %h4 写真
          =link_to "さらに表示", categories_path(category: 3)
        %ul.category__cards
          - @photo_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#sound
        .category__title
          %h4 サウンド
          =link_to "さらに表示", categories_path(category: 4)
        %ul.category__cards
          - @sound_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#business
        .category__title
          %h4 ビジネス
          =link_to "さらに表示", categories_path(category: 5)
        %ul.category__cards
          - @business_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#lifestyle
        .category__title
          %h4 ライフスタイル
          =link_to "さらに表示", categories_path(category: 6)
        %ul.category__cards
          - @lifestyle_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#technology
        .category__title
          %h4 テクノロジー
          =link_to "さらに表示", categories_path(category: 7)
        %ul.category__cards
          - @technology_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}
      .category#entertainment
        .category__title
          %h4 エンタメ
          =link_to "さらに表示", categories_path(category: 8)
        %ul.category__cards
          - @entertainment_notes.each do |note|
            = render "attentions/category",{note: note, likes: @likes}





