.comments
  - if @comments.present?
    .comments__count
      コメント
      = @comments_count
      件
  .comments__lists
    - @comments.each do |comment|
      .comments__comment
        .comments__comment__profile
          .comments__comment__profile__icon
            = link_to user_path(comment.user) do
              - if comment.user.main_image.present?
                = image_tag comment.user.main_image
              - else
                = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
          .comments__comment__profile__name
            = link_to user_path(comment.user) do
              = comment.user.nickname
          .comments__comment__profile__date
            = comment.user.created_at
        .comments__comment__option
          - if comment.user == current_user
            = link_to note_comment_path(note,comment), method: "delete",class: "note_delete_btn" do
              %i.fa.fa-ellipsis-h{ "data-comment-id": "#{comment.id}"}
        .comments__comment__likes
          %i.far.fa-heart
        .comments__comment__body
          = comment.body
  .comments__form
    .comments__form__icon
      = link_to user_path(current_user) do
        - if current_user.main_image.present?
          = image_tag current_user.main_image
        - else
          = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
    = form_for [note, @comment], html: {class: 'comments__form__content'} do |f|
      = f.text_area :body, class: "comments__form__content__text", placeholder: "コメントする..."
      = f.submit "送信" ,class: "comments__form__content__submit"
