/ 編集画面
.user-profile
  = form_for @user do |f|
    - if @user.header_image.present?
      .user-profile-header
        = f.label :header_image, class: "form_mask_header_image" do
          %i.fas.fa-camera
          %span#selectimage ヘッダー画像を変更
          = f.file_field :header_image, class: "header_image_file"
        =image_tag @user.header_image, class: "header_present_image"
        %img{id: "header_image_prev",class: "hidden", src: "#"}
    -else
      .user-profile-header__empty
        = f.label :header_image, class: "form_mask_header_image" do
          %i.fas.fa-camera
          %span#selectimage ヘッダー画像を変更
          = f.file_field :header_image, class: "header_image_file"
        .header_present_image
        %img{id: "header_image_prev",class: "hidden", src: "#"}
    .user-profile-main
      .user-profile-main__box
        .user-profile-main__box__icon
          - if @user.main_image.present?
            = image_tag @user.main_image, class: "my-icon"
            %img{id: "main_image_prev", class: "hidden", src: "#"}
            = f.label :main_image, class: "form_mask_main_image" do
              %i.fas.fa-camera
              = f.file_field :main_image, class: "main_image_file"
          - else
            %img{class: "my-icon" , src: "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}
            %img{id: "main_image_prev", class: "hidden", src: "#"}
              = f.label :main_image, class: "form_mask_main_image" do
                %i.fas.fa-camera
                = f.file_field :main_image, class: "main_image_file"
        .user-profile-main__box__right
          .user-profile-main__box__right__userinfo
            .user-profile-main__box__right__userinfo__nickname
              = f.text_field :nickname, class: "nickname_field"
            .user-profile-main__box__right__userinfo__selfintroduction
              = f.text_area :self_introduction, class: "self_introduction_form"
            .submit-button
              =f.submit "保存"
              =link_to "キャンセル" ,user_path(current_user), class: "cancel-button"

