= render "shared/header"

.user-container
  - if @user.header_image.present?
    .user-container-header
      =image_tag @user.header_image
  .user-container-main
    .user-container-main__box
      .user-container-main__box__icon
        - if @user.main_image.present?
          = link_to user_path(@user) do
            =image_tag @user.main_image
        - else
          = link_to "", class: "my-icon" do
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", class: "my-icon__image"
      .user-container-main__box__right
        .user-container-main__box__right__userinfo
          .user-container-main__box__right__userinfo__nickname
            %p.nickname
              = @user.nickname
          .user-container-main__box__right__userinfo__selfintroduction
            %p.selfintroduction
              = @user.self_introduction
          .user-container-main__box__right__userinfo__follow
            = link_to followings_user_path(@user) do
              .following
                = @followings_count
                %strong フォロー
            = link_to followers_user_path(@user) do
              .follower
                = @follower_count
                %strong フォロワー
        .user-container-main__box__right__linkbtn
          %span.fas.fa-ellipsis-h.link-icon
          %ul.select-button
            - if user_signed_in? && @user == current_user
              %li.my-profile プロフィールを編集する
              %li Amazonウィジェットを追加
            -else
              %li ブロックする
              %li 報告する
          = render "relationships/follow-button", user: @user

  .user-container-nav
    .user-container-nav__list
      %label.tab1_label.active{for:"tab1"} ホーム
      %label.tab2_label{for:"tab2"} マガジン
      %label.tab3_label{for:"tab3"} スキ
  .products
    #product_note.tab_product
      .home__container
        .home__container__cards
          - @notes.each do |note|
            .card
              .card__avatar
                %ul
                  %li.icon
                    - if @user.main_image.present?
                      = link_to user_path(@user) do
                        =image_tag @user.main_image
                    - else
                      = link_to user_path(@user) do
                        = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", class: "my-icon__image"
                  %li.info
                    = link_to @user.nickname , user_path(@user), class: "name"
                    = link_to note.created_at, note_path(note), class: "date"
              .card__main
                =link_to note_path(note) do
                  .card__main--image
                    - if note.images.present?
                      -note.images.each do |image|
                        = image_tag image.image
                  %h3.card__main--title
                    = note.title
                  %p.card__main--text
                    = note.text
              .card__foot
                %ul.icon
                  %li.icon__box
                    = render "likes/like-button",{note: note, likes: @likes}
                  %li.icon__box
                    = link_to "" do
                      %i.fas.fa-arrow-right
                  %li.icon__box
                    = render "articles/article-button", {note: note}
                  - if note.user.id == current_user.id
                    %li.icon__box
                      = link_to "" do
                        %i.fas.fa-ellipsis-h.balloon__event
                      .delete__balloon
                        = link_to  "/notes/#{note.id}", method: :delete do
                          %p 削除
                .comment__link

    #product_magazine.tab_product
      .magazine-content
        - if @user.id == current_user.id
          = link_to new_user_magazine_path(current_user) do
            .magazine-content__create
              %i.fas.fa-plus.magazine-content__create__plus
              %p マガジンを作る
        - @user.magazines.each do |magazine|
          .magazine-content__posted
            .magazine-content__posted__header
              = link_to user_magazine_path(current_user, magazine) do
                - if magazine.header_image.present?
                  = image_tag magazine.header_image
                  %p.title
                    = magazine.title
                - else
                  .magazine-content__posted__header__empty
                    %p.title-image-empty
                      = magazine.title
                  .magazine-content__posted__header__description
                    = magazine.description
            .magazine-content__posted__footer
              .main-icon
                - if @user.main_image.present?
                  = link_to user_path(@user) do
                    =image_tag @user.main_image
                - else
                  = link_to user_path(@user) do
                    = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", class: "my-icon__image"
                = link_to @user.nickname, user_path(@user), class: "user_nickname_link"
              - if @user == current_user
                = link_to edit_user_magazine_path(current_user, magazine) do
                  .setting-button 設定
              - else
                .setting-button フォロー
    #product_like.tab_product
      .home__container
        = render partial: "likes-note", collection: @likes, as: "like"

= render partial: "user-profile", locals: { user: @user}
