.header
  .header__container
    .header__container__upper
      .header__container__upper__left
        = link_to root_path do
          = image_tag("note_logo.jpg" ,class: "note_logo")
      .header__container__upper__right
        -if user_signed_in?
          / %li
          /   .search-form
          /     %form.search-form__box
          /       %input{name:"keyword", placeholder:"キーワードを入力", type:"text", class: "search-form__box__field"}
          /       %button{type: "submit", class: "search-form__box__button"}
          /         %i{class: "fa fa-search fa-2x search-icon"}
          %li
            = link_to searches_path do
              %i{class: "fa fa-search fa-2x search-icon1"}
          %li
            = link_to "", class: "notification" do
              %i.far.fa-bell
          %li
            = link_to "", class: "my-icon" do
              - if current_user.main_image.present?
                = image_tag current_user.main_image, class: "my-icon__image"
              - else
                = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", class: "my-icon__image"
            .my-menu
              %ul
                %li
                  = link_to user_path(current_user) do
                    %span.user__name
                      = current_user.nickname
                    %span.link__text マイページを表示
                %li.menu__border
                %li
                  = link_to "ノートを一覧で管理", mynotes_path
                %li
                  = link_to "マガジンを一覧で管理", user_magazines_path(current_user)
                %li
                  = link_to "画像を一覧で管理", images_path
                %li.menu__border
                %li
                  = link_to "スキしたノート", mylikes_path
                %li
                  = link_to "購入したノート", ""
                %li.menu__border
                %li
                  = link_to "アカウント設定", edit_user_path(current_user)
                %li
                  = link_to "ダッシュボード", dashboards_path
                %li
                  = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li
            = link_to new_note_path , class: "post-button" do
              %i.fas.fa-edit
              %span 投稿
        -else
          %li
            .log-in
              = link_to new_user_session_path do
                %p ログイン
          %li
            .sign-up
              = link_to new_user_registration_path do
                %p 新規登録
          %li
            = link_to searches_path do
              %i{class: "fa fa-search fa-2x search-icon1"}
          / %li
          /   .search-form
          /     %form.search-form__box
          /       %input{name:"keyword", placeholder:"キーワードを入力", type:"text", class: "search-form__box__field"}
          /       %button{type: "submit", class: "search-form__box__button"}
          /         %i{class: "fa fa-search fa-2x search-icon"}
