.header
  .header__container
    .header__container__upper
      .header__container__upper__left
        = link_to root_path do
          = image_tag("note_logo.jpg" ,class: "note_logo")
      .header__container__upper__right
        -if user_signed_in?
          %li
            .search-form
              %form.search-form__box
                %input{name:"keyword", placeholder:"キーワードを入力", type:"text", class: "search-form__box__field"}
                %button{type: "submit", class: "search-form__box__button"}
                  %i{class: "fa fa-search fa-2x search-icon"}
          %li
            %i{class: "fa fa-search fa-2x search-icon1"}
          %li
            .log-out
              = link_to destroy_user_session_path ,method: :delete do
                %p ログアウト
          %li
            = link_to "", class: "notification" do
              %i.far.fa-bell
          %li
            = link_to "", class: "my-icon" do
              %img{class: "my-icon__image", src: "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}
          %li
            = link_to "", class: "post-button" do
              %i.fas.fa-edit
              %span 投稿
        -else
          %li
            .log-in
              = link_to new_user_session_path do
                %p ログイン
          %li
            .sign-up
              = link_to new_user_registration_path do
                %p 新規登録
          %li
            %i{class: "fa fa-search fa-2x search-icon1"}
          %li
            .search-form
              %form.search-form__box
                %input{name:"keyword", placeholder:"キーワードを入力", type:"text", class: "search-form__box__field"}
                %button{type: "submit", class: "search-form__box__button"}
                  %i{class: "fa fa-search fa-2x search-icon"}
