.recommend__contents__sidebar
  .magagines__headline
    %h4 公式マガジン
  .magazines__list
    .magazine__box
      .magazine__box__upper
        %a{href: ""}
          .magazine__cover
            .magazine__title
              %p note編集部のお気に入り記事
            %img{src: "https://poc-note.imgix.net/production/uploads/images/6527876/magazine_cover_landscape_sp_f30657dd15dfe47903997f2ef5b724e8.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
          .magazine__description
            %p 様々なジャンルでnote編集部がお気に入りの記事をまとめています
        .magazine__follower
          %p 834フォロワー
        .magazine__box__footer
          .magazine__avatars
            %ul
              %li
                = link_to image_tag('icon_image1.jpeg')
              %li
                = link_to image_tag('icon_image2.jpeg')
              %li
                = link_to image_tag('icon_image3.jpeg')
              %li
                = link_to image_tag('icon_image4.jpeg')
              %li
                = link_to image_tag('icon_image5.jpeg')
              %li.magazine__avatars__count
                %a{href: ""} +20
          .magazine__button
            %a{href: "", class:"magazine__button__follow"} フォロー
    .magazine__box
      .magazine__box__upper
        .magazine__cover
          .magazine__title
            %p ＃スポーツ 記事まとめ
          %img{src: "https://poc-note.imgix.net/production/uploads/images/7633695/magazine_cover_landscape_sp_23590e937d4b7ebf884f1db23d39a164.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}/
        .magazine__description
          %p noteに公開されているスポーツ系の記事をこのマガジンで紹介
        .magazine__follower
          %p 834フォロワー
        .magazine__box__footer
          .magazine__avatars
            %ul
              %li
                = link_to image_tag('icon_image1.jpeg')
              %li
                = link_to image_tag('icon_image2.jpeg')
              %li
                = link_to image_tag('icon_image3.jpeg')
              %li
                = link_to image_tag('icon_image4.jpeg')
              %li
                = link_to image_tag('icon_image5.jpeg')
              %li.magazine__avatars__count
                %a{href: ""} +16
          .magazine__button
            %a.magazine__button__follow フォロー
    .magazine__box
      .magazine__box__upper
        .magazine__cover
          .magazine__title
            %p ＃マンガ 記事まとめ
          %img{src: "https://poc-note.imgix.net/production/uploads/images/5827383/magazine_cover_landscape_sp_66f79c62a6251cc48f5017f4a00317af.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
        .magazine__description
          %p 面白いマンガをまとめています
        .magazine__follower
          %p 834フォロワー
        .magazine__box__footer
          .magazine__avatars
            %ul
              %li
                = link_to image_tag('icon_image1.jpeg')
              %li
                = link_to image_tag('icon_image2.jpeg')
              %li
                = link_to image_tag('icon_image3.jpeg')
              %li
                = link_to image_tag('icon_image4.jpeg')
              %li
                = link_to image_tag('icon_image5.jpeg')
              %li.magazine__avatars__count
                %a{href: ""}+4
          .magazine__button
            %a.magazine__button__follow フォロー
    .magazine__box
      .magazine__box__upper
        .magazine__cover
          .magazine__title
            %p ＃デザイン 記事まとめ
          %img{src:"https://poc-note.imgix.net/production/uploads/images/6657642/magazine_cover_landscape_sp_785a0580d64e38741414848e81f6158d.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
        .magazine__description
          %p デザイン系の記事を収集してまとめるマガジン
        .magazine__follower
          %p 834フォロワー
        .magazine__box__footer
          .magazine__avatars
            %ul
              %li
                = link_to image_tag('icon_image1.jpeg')
              %li
                = link_to image_tag('icon_image2.jpeg')
              %li
                = link_to image_tag('icon_image3.jpeg')
              %li
                = link_to image_tag('icon_image4.jpeg')
              %li
                = link_to image_tag('icon_image5.jpeg')
              %li.magazine__avatars__count
                %a{href: ""} +35
          .magazine__button
            %a.magazine__button__follow フォロー
    .magazine__box
      .magazine__box__upper
        .magazine__cover
          .magazine__title
            %p ＃エンジニア系記事まとめ
          %img{src: "https://poc-note.imgix.net/production/uploads/images/6033632/magazine_cover_landscape_sp_b51ddba18c2c99cac3b62b5b9c6a5082.jpg?w=800&fit=clip&auto=compress&cs=tinysrgb&auto=format"}
        .magazine__description
          %p noteに投稿されているエンジニア系記事まとめ
        .magazine__follower
          %p 834フォロワー
        .magazine__box__footer
          .magazine__avatars
            %ul
              %li
                = link_to image_tag('icon_image1.jpeg')
              %li
                = link_to image_tag('icon_image2.jpeg')
              %li
                = link_to image_tag('icon_image3.jpeg')
              %li
                = link_to image_tag('icon_image4.jpeg')
              %li
                = link_to image_tag('icon_image5.jpeg')
              %li.magazine__avatars__count
                %a{href: ""} +30
          .magazine__button
            %a.magazine__button__follow フォロー
    %a{href: "", class:"magazines__buttton" }すべての公式マガジン
