= render "shared/header"
= render "shared/header-nav"

.header-magazine
  .header-magazine-box
    .header-magazine-box__title
      %h3 マガジン
    .header-magazine-box__left
      .header-magazine-box__left__pickup
        .header-magazine-box__left__pickup__headline
          %h4 ピックアップ
        .header-magazine-box__left__pickup__container
          = link_to user_magazine_path(@pickup_magazine.user, @pickup_magazine) do
            .header-magazine-box__left__pickup__container__image
              = image_tag @pickup_magazine.header_image
              %p.pickup-magazine-title
                = @pickup_magazine.title
          = link_to user_magazine_path(@pickup_magazine.user, @pickup_magazine) do
            .header-magazine-box__left__pickup__container__description
              %p
                = @pickup_magazine.description
          .header-magazine-box__left__pickup__container__footer
            = link_to user_path(@pickup_magazine.user) do
              .user-icon
                - if @pickup_magazine.user.main_image.present?
                  = image_tag "note-icon-image.jpg"
                - else
                  = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
                %p
                  = @pickup_magazine.user.nickname
      .header-magazine-box__left__free
        .header-magazine-box__left__free__headline
          %h4 無料マガジン
        .header-magazine-box__left__free__container
          - @free_magazines.each do |free_magazine|
            .header-magazine-box__left__free__container__box
              .header-magazine-box__left__free__container__box__image
                = link_to user_magazine_path(:use_id , free_magazine) do
                  - if free_magazine.header_image.present?
                    = image_tag free_magazine.header_image
              .header-magazine-box__left__free__container__box__title
                %h5
                  = free_magazine.title
              .header-magazine-box__left__free__container__box__description
                %p
                  = free_magazine.description
      .header-magazine-box__left__toll
        .header-magazine-box__left__toll__headline
          %h4 有料マガジン
        .header-magazine-box__left__toll__container
          .header-magazine-box__left__toll__container__box
            .header-magazine-box__left__toll__container__box__image
              =image_tag "https://i0.wp.com/lh3.googleusercontent.com/-eUV76Sryf0o/WsxBx6Y2FYI/AAAAAAAAVK4/GoRRLZ-qzys6ubqezUw9diXFzJSmS6ndgCCoYBhgL/w700-o/IMG_5334.JPG?zoom=2&ssl=1"
            .header-magazine-box__left__toll__container__box__title
              %h5 gift
            .header-magazine-box__left__free__container__box__description
              %p そんなこんなで2018年は終わろうとしていて、平成も終わろうとしていて、平成ジャンプなんて言われちゃって。
      .header-magazine-box__left__subscription
        .header-magazine-box__left__subscription__headline
          %h4 定期購読マガジン
        .header-magazine-box__left__subscription__container
          .header-magazine-box__left__subscription__container__box
            .header-magazine-box__left__subscription__container__box__image
              =image_tag "https://www.pakutaso.com/shared/img/thumb/ELLY86_akaikami20140405_TP_V1.jpg"
              %p.price ¥500/月
            .header-magazine-box__left__subscription__container__box__title
              %h5 red
            .header-magazine-box__left__subscription__container__box__description
              %p 赤い赤い壁壁赤い赤い壁壁赤い赤い壁壁赤い赤い壁壁
          .header-magazine-box__left__subscription__container__box
            .header-magazine-box__left__subscription__container__box__image
              =image_tag "https://www.pakutaso.com/shared/img/thumb/ELT140405445326_TP_V1.jpg"
              %p.price ¥500/月
            .header-magazine-box__left__subscription__container__box__title
              %h5 red
            .header-magazine-box__left__subscription__container__box__description
              %p aoi壁壁赤い赤い壁壁赤い赤い壁壁赤い赤い壁壁

      .header-magazine-box__left__all-button
        = link_to "すべてのマガジン" ""

    = render "right-side"
