= render "shared/header"
= render "shared/header-nav"
.all-magazines
  .all-magazines__box
    .all-magazines__box__title
      %h3 すべてのマガジン
      = link_to "マガジントップ", headermagazines_path, class: "link-top"

    .all-magazines__box__list
      .all-magazines__box__list__container
        .all-magazines__box__list__container__upper
          = image_tag"https://i0.wp.com/lh3.googleusercontent.com/-eUV76Sryf0o/WsxBx6Y2FYI/AAAAAAAAVK4/GoRRLZ-qzys6ubqezUw9diXFzJSmS6ndgCCoYBhgL/w700-o/IMG_5334.JPG?zoom=2&ssl=1"
          .all-magazines__box__list__container__upper__title
            %p.magazine-title sss
        .all-magazines__box__list__container__middle
          .all-magazines__box__list__container__middle__description
            %p.magazine-description kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllranranranranranranranrashukjduhgrjgnsfjhunwunfijigfbsppppppppppppppppppppggggggggggggggggggggccccccccccccccc
        .all-magazines__box__list__container__footer
          .all-magazines__box__list__container__footer__user
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png" ,class: "user-icon"
            %p.user-nickname 名前
          .all-magazines__box__list__container__footer__follow
            %a.follow-btn フォロー


