= render "shared/header"
.magazine-admin-content.clearfix
  .magazine-admin-content__all
    .magazine-admin-content__all__title
      すべてのマガジン
    %i.fas.fa-caret-down.magazine-admin-content__all__arrow
  %ul.magazine-admin-content__magazines
    = link_to new_user_magazine_path(current_user) do
      %li.magazine-admin-content__magazines__create
        %i.fas.fa-plus.magazine-admin-content__magazines__create__plus
        .magazine-admin-content__magazines__create__text
          マガジンを作る
    - @magazines.each do |magazine|
      %li.magazine-admin-content__magazines__magazine
        = link_to "/users/#{current_user.id}/magazines/#{magazine.id}" do
          .magazine-admin-content__magazines__magazine__header
            - if magazine.header_image.present?
              = image_tag magazine.header_image, class: "magazine-header-image"
            - else
              = image_tag "https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0524/7923/rsolid_emerald_green_009874_shop_preview.png", class: "magazine-header-image"
            .magazine-admin-content__magazines__magazine__header__title
              = magazine.title
          .magazine-admin-content__magazines__magazine__center
            .magazine-admin-content__magazines__magazine__center__title
              = magazine.title
        .magazine-admin-content__magazines__magazine__footer
          = link_to user_path(current_user) do
            .magazine-admin-content__magazines__magazine__footer__icon
              - if magazine.user.main_image.present?
                = image_tag magazine.header_image, class: "magazine-header-image"
              - else
                %img{alt: "イメージ", src: "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}
            .magazine-admin-content__magazines__magazine__footer__name
              = magazine.user.nickname
          = link_to do
            .magazine-admin-content__magazines__magazine__footer__setting
              設定
