/マガジン詳細画面
= render "shared/header"
.magazine-details-content.clearfix
  .magazine-details-content__top
    .magazine-details-content__top__image
      - if @magazine.header_image.present?
        = image_tag @magazine.header_image
      - else
        = image_tag "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAAA1BMVEUzxpDs+IWfAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABODcYhAAEl463hAAAAAElFTkSuQmCC"
      .magazine-details-content__top__image__title
        = @magazine.title
  .magazine-details-content__middle
    .magazine-details-content__middle__left
      .magazine-details-content__middle__left__count
        = @notes_count
        %strong
          ノート
      - if @user == current_user
        .magazine-details-content__middle__left__edit
          ノートの並び替え・削除
      - else
        .magazine-details-content__middle__left__edit
      =  render partial: "note", collection: @notes
    .magazine-details-content__middle__right
      - if @user == current_user
        = link_to edit_user_magazine_path do
          .magazine-details-content__middle__right__setting
            設定
      - else
        .magazine-details-content__middle__right__setting
          フォロー
      .magazine-details-content__middle__right__title-bold
        = @magazine.title
      .magazine-details-content__middle__right__title
        = @magazine.description
      .magazine-details-content__middle__right__profile
        .magazine-details-content__middle__right__profile__icon
          - if @user.main_image.present?
            = image_tag @user.main_image
          - else
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"
        .magazine-details-content__middle__right__profile__name
          = @user.nickname
      .magazine-details-content__middle__right__title-bold
        ハッシュタグ
      %ul.magazine-details-content__middle__right__hash
        %li.magazine-details-content__middle__right__hash__item
          日本(1)
        %li.magazine-details-content__middle__right__hash__item
          アメリカ(2)
        %li.magazine-details-content__middle__right__hash__item
          中国(3)
      .magazine-details-content__middle__right__title-bold
        アーカイブ
      .magazine-details-content__middle__right__archive
        2018年(2) [+]
      .magazine-details-content__middle__right__title-bold
        シェア
      %ul.magazine-details-content__middle__right__share
        %li.magazine-details-content__middle__right__share__facebook
          %i.fab.fa-facebook-square
        %li.magazine-details-content__middle__right__share__twitter
          %i.fab.fa-twitter
        %li.magazine-details-content__middle__right__share__source
          %i.fas.fa-wifi
.footer
  %ul.footer__list
    %li.footer__list__item
      noteプレミアム
    %li.footer__list__item
      クリエイターの方へ
    %li.footer__list__item
      よくある質問
    %li.footer__list__item
      使い方
    %li.footer__list__item
      ノート
    %li.footer__list__item
      マガジン
    %li.footer__list__item
      ユーザー
    %li.footer__list__item
      ハッシュタグ
    %li.footer__list__item
      プライバシー
    %li.footer__list__item
      ご利用規約
    %li.footer__list__item
      特商法表記
    %li.footer__list__item
      クリエイターへのお問い合わせ
    %li.footer__list__item.only-bold
      noteカイゼン目安箱
    %li.footer__list__item.only-bold
      クリエイターの推薦

.article-modal
  .article-modal__content
    .article-modal__content__header
      並び替え・削除
      .article-modal__content__header__escape
        &times;
    %ul.article-modal__content__magazines
      - @notes.each do |note|
        %li.article-modal__content__magazines__magazine
          = link_to do
            .article-modal__content__magazines__magazine__header-image
              - if note.images.present?
                - note.images.each do |image|
                  = image_tag image.image
              - else
                = image_tag "https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0524/7923/rsolid_emerald_green_009874_shop_preview.png"
            .article-modal__content__magazines__magazine__title
              = note.title
          .article-modal__content__magazines__magazine__add
            - if user_signed_in?
              = form_for(@magazine.articles.find_by(note_id: note.id), html: { method: :delete }, id: "destroy_article") do |f|
                = f.hidden_field :note_id, value: note.id
                = f.hidden_field :magazine_id, value: @magazine.id
                = f.submit '削除する', class: 'article-modal__content__magazines__magazine__add__adds'

