= render "shared/header"
= render "shared/header-nav"

.wanted
  .wanted-box
    .wanted-box__title
      %h3 募集中
    .wanted-box__container
      .wanted-box__container__headline
        %h4 開催中のコンテスト
      .wanted-box__container__contents
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8808095/rectangle_large_type_2_208b6d632abc1b246bf667ae6f5df2e0.jpg"
          .wanted-box__container__contents__box__title
            %p マウスコンピューター×note「#描くようになったきっかけ投稿王ンアテスト」を開催！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 145
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
    .wanted-box__container
      .wanted-box__container__headline
        %h4 開催中のお題
      .wanted-box__container__contents
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8928810/rectangle_large_type_2_7079acb460be4eac794ccf0c4319c0ed.jpg"
          .wanted-box__container__contents__box__title
            %p 今年はどんな写真を撮りましたか？みなさんの「#今年のベストショット」を教えてください！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 200
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8876137/rectangle_large_type_2_a279590ca9cd3509226ea03333570212.jpg"
          .wanted-box__container__contents__box__title
            %p note×COMEMOで、あなたが選ぶ#10大ニュース2018を募集します。
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 239
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8378024/rectangle_large_type_2_c302e9d9ce1554444a70742a4d9ec862.jpg"
          .wanted-box__container__contents__box__title
            %p 「#noteでよかったこと」を募集します！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 109
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8837045/rectangle_large_type_2_06a9b4cf9ee7d873b425d7c9c4a6b86e.jpg"
          .wanted-box__container__contents__box__title
            %p みなさんの #買ってよかったもの を教えてください！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 1490
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/7887945/rectangle_large_type_2_c919c31ec36ffbccc5d256067547e9aa.jpg"
          .wanted-box__container__contents__box__title
            %p お題企画「#推薦図書」を募集します
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 193
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8725096/rectangle_large_type_2_9d35ae274517cd1a9de4e5795ef56a99.jpg"
          .wanted-box__container__contents__box__title
            %p みなさんの熟成した下書きを公開してみませんか？年末お掃除企画#熟成下書きを開催します！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 193
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
    .wanted-box__container
      .wanted-box__container__headline
        %h4 審査中のコンテスト
      .wanted-box__container__contents
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8271309/rectangle_large_type_2_27de7f50b91b23c40ac2dfe2b4a727cd.jpg"
          .wanted-box__container__contents__box__title
            %p 午後の紅茶とnoteがコラボして、「#紅茶のある風景投稿コンテスト」を開催します！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 168
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/7999048/rectangle_large_type_2_a0215dc30218f1a24b15873cdc54f784.jpg"
          .wanted-box__container__contents__box__title
            %p ミルボンとnoteが「#美しい髪投稿コンテスト」を開催いたします。
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 140
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/7854944/rectangle_large_type_2_1690a1ce9e1a196ba189723f3c210d98.jpg"
          .wanted-box__container__contents__box__title
            %p プロデビューのチャンス！FROGGY×note「#お金ライター投稿コンテスト」を開催！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 180
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/7017209/rectangle_large_type_2_f9ed873638b41472d5ec3fbb474df33e.jpg"
          .wanted-box__container__contents__box__title
            %p noteで「旅する日本語」投稿コンテストを開始いたします。
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 140
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
    .wanted-box__container
      .wanted-box__container__headline
        %h4 審査中のお題
      .wanted-box__container__contents
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8596788/rectangle_large_type_2_b85d32e26580e68cbd7a015cbe38bcd1.jpg"
          .wanted-box__container__contents__box__title
            %p noteでみなさんのお仕事について教えてください
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 1167
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8436603/rectangle_large_type_2_85195a6de082ed2504b8059c3ad616d2.jpg"
          .wanted-box__container__contents__box__title
            %p noteで、SNS動画の作成と投稿をかんたんにする、動画編集アプリ「Adobe PremiereRushCC」のレビューを募集します！
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 199
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
        .wanted-box__container__contents__box
          .wanted-box__container__contents__box__image
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/8199632/rectangle_large_type_2_048f71b6d330b83668290753143a6b85.jpg"
          .wanted-box__container__contents__box__title
            %p あなたの「#自己紹介」を教えてください
          .wanted-box__container__contents__box__heart
            %i.far.fa-heart
            %span 199
          .wanted-box__container__contents__box__footer
            .user-icon
              = image_tag "note-icon-image.jpg"
              %p note公式
