.search__box__result-note#spike
  = link_to note_path(spike_note) do
    .search__box__result-note__container
      .search__box__result-note__container__left
        .search__box__result-note__container__left__title
          %h5.title
            = spike_note.title
        .search__box__result-note__container__left__text
          %p.note-text
            = spike_note.text
        .search__box__result-note__container__left__like
          = render "likes/like-button",{note: spike_note, likes: @likes}
        .search__box__result-note__container__left__comment
          %i.far.fa-comment-alt
      .search__box__result-note__container__right
        -if spike_note.images.present?
          -spike_note.images.each do |image|
            = image_tag image.image
      .search__box__result-note__container__footer
        .search__box__result-note__container__footer__user
          - if spike_note.user.main_image.present?
            = image_tag spike_note.user.main_image , class: "user-icon"
          - else
            = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png",class: "user-icon"
          %p.user-nickname
            = spike_note.user.nickname
