= render "shared/header"
.search
  .search__box
    .search__box__form.magazine
      = search_form_for(@search_magazines, url: search_magazine_searches_path) do |f|
        = f.search_field :title_or_description_cont, placeholder: "マガジンを検索"
        = f.submit type: "hidden"
    = render "kind-tab"
    .search__box__result-magazine
      .search__box__result-magazine__container
        = render partial: "result-magazine", collection: @result_magazines, as: "result_magazine"
