= render 'shared/header'
%div.my-notes__container
  %div.my-notes__container__area
    %div.my-notes__title
      %p ノート一覧
    %ul.my-notes__head
      %li 5ノート
      %li.my-notes__head__items
        %ul
          %li
            = link_to "公開ステータス", ""
          %li
            = link_to "期間", ""
          %li
            = link_to "マガジン", ""
    = form_tag({ action: :destroy_all }, method: 'delete') do
      - @my_notes.each do |note|
        %ul.my-notes__list
          %li
            %div.selection__box.note__item
              = check_box_tag "deletes[#{ note.id }]", note.id
            %div.my-note.note__item
              %div.my-note__title
                = note.title
              %div.my-note__date
                = note.created_at
            %div.image.note__item
              - if note.images.present?
                -note.images.each do |image|
                  = image_tag image.image
            %div.edit__button.note__item
              = link_to "編集", edit_note_path(note)
            %div.delete__button.note__item
              = link_to "" do
                %i.fas.fa-ellipsis-h.balloon__event
              %div.delete__balloon
                = link_to "削除",  "/notes/#{note.id}", method: :delete
      = submit_tag "削除"
