= render 'shared/header'
.dashboard__container
  .dashboard__container__header
    %h1 ダッシュボード
    %ul
      %li.selected
        = link_to "アクセス状況" ""
      %li
        = link_to "売上管理" ""
      %li
        = link_to "振込履歴" ""
      %li
        = link_to "購入者一覧" ""
  .dashboard__container__main
    .dashboard__container__main__inner
      .period-nav.clearfix
        %ul
          %li
            = link_to "週" ""
          %li
            = link_to "月" ""
          %li
            = link_to "年" ""
          %li
            = link_to "全期間" ""
        .period-nav__date
          %p < 2018/12/01 - 2019/01/01 >
      .stats-count
        .stats-count__box.fl-l.green
          .icon
            %i.fas.fa-eye
          .number
            %p
          .title
            %p 全体ビュー
        .spacer.fl-l
        .stats-count__box.fl-l.blue
          .icon
            %i.fas.fa-comment
          .number
            %p
              = @comments_count
          .title
            %p コメント
        .spacer.fl-l
        .stats-count__box.fl-l.red
          .icon
            %i.fas.fa-heart
          .number
            %p
              = @likes_count
          .title
            %p スキ
      .more-read
        = link_to "" do
          %i.fas.fa-question-circle
          %p もっと読まれるためには?
      .current-date
        %p 最新集計時刻 2019/1/4 16:16
      %table
        %tr.thead
          %th ノート
          %th.count.green
            %i.fas.fa-eye
          %th.count.blue
            %i.fas.fa-comment
          %th.count.red
            %i.fas.fa-heart
        - @notes.each do |note|
          %tr
            %td
              = note.text
            %td.count.green 15
            %td.count.blue
              = note.comments.count
            %td.count.red
              = note.likes.count





